@model Admin.ViewModel.SigninViewModel

@{
    ViewData["Title"] = "Inscription";
}

<div class="card-header">
    <h4 class="card-title">Formulaire de Utilisateur</h4>
    <p class="card-title-desc">Veuillez remplir les informations ci-dessous.</p>
</div>

<form method="post" asp-action="Signin">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prenom"></label>
        <input asp-for="Prenom" class="form-control" />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Sexe"></label>
        <input asp-for="Sexe" class="form-control" />
        <span asp-validation-for="Sexe" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Tele"></label>
        <input asp-for="Tele" class="form-control" />
        <span asp-validation-for="Tele" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RoleSelected"></label>
        <select asp-for="RoleSelected" asp-items="Model.Roles" class="form-control" >
            <option value="">Sélectionner un rôle</option>
        </select>
        <span asp-validation-for="RoleSelected" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
