@model MS2Api.Model.Benificier;

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Formulaire de Benificier</h4>
                <p class="card-title-desc">Veuillez remplir les informations ci-dessous.</p>
            </div>
            <div class="card-body">
                <form asp-action="Update" method="post">
                    <div class="form-group">
                        <input asp-for="Id" class="form-control" type="hidden" />
                    </div>
                    <div class="mb-3 row">
                        <label for="Nom" class="col-md-2 col-form-label">Nom</label>
                        <div class="col-md-10">
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Prenom" class="col-md-2 col-form-label">Prénom</label>
                        <div class="col-md-10">
                            <input asp-for="Prenom" class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Age" class="col-md-2 col-form-label">Age</label>
                        <div class="col-md-10">
                            <input asp-for="Age" class="form-control" type="number" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Sexe" class="col-md-2 col-form-label">Sexe</label>
                        <div class="col-md-10">
                            <select asp-for="Sexe" class="form-control">
                                <option value="">-- Sélectionnez --</option>
                                <option value="Homme">Homme</option>
                                <option value="Femme">Femme</option>
                            </select>
                            <span asp-validation-for="Sexe" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Tele" class="col-md-2 col-form-label">Téléphone</label>
                        <div class="col-md-10">
                            <input asp-for="Tele" class="form-control" type="tel" />
                            <span asp-validation-for="Tele" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="TeleUrgent" class="col-md-2 col-form-label">Téléphone Urgent</label>
                        <div class="col-md-10">
                            <input asp-for="TeleUrgent" class="form-control" type="tel" />
                            <span asp-validation-for="TeleUrgent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="PaysOrigin" class="col-md-2 col-form-label">Pays d'Origine</label>
                        <div class="col-md-10">
                            <input asp-for="PaysOrigin" class="form-control" />
                            <span asp-validation-for="PaysOrigin" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Nationalite" class="col-md-2 col-form-label">Nationalité</label>
                        <div class="col-md-10">
                            <input asp-for="Nationalite" class="form-control" />
                            <span asp-validation-for="Nationalite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Address" class="col-md-2 col-form-label">Adresse</label>
                        <div class="col-md-10">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="Ville" class="col-md-2 col-form-label">Ville</label>
                        <div class="col-md-10">
                            <input asp-for="Ville" class="form-control" />
                            <span asp-validation-for="Ville" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="TypeDetection" class="col-md-2 col-form-label">Type de Détection</label>
                        <div class="col-md-10">
                            <input asp-for="TypeDetection" class="form-control" />
                            <span asp-validation-for="TypeDetection" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="codeUnique" class="col-md-2 col-form-label">Code Unique</label>
                        <div class="col-md-10">
                            <input asp-for="codeUnique" class="form-control" />
                            <span asp-validation-for="codeUnique" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row left">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


