<footer class="footer">
    <div class="container-fluid">
        <div class="row">
<<<<<<< HEAD
            <div class="col-sm-12 text-center">
                <script>document.write(new Date().getFullYear())</script> © <b>MS2 ADMIN.</b>
            </div>
=======
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © webadmin.
            </div>         
>>>>>>> e47c632 (integration du template)
        </div>
    </div>
</footer>