<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index-2.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo-dark-sm.png" alt="" height="50">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo-dark.png" alt="" height="60">
            </span>
        </a>

        <a href="index-2.html" class="logo logo-light">
            <span class="logo-lg">
                <img src="~/assets/images/logo-light.png" alt="" height="60">
            </span>
            <span class="logo-sm">
                <img src="~/assets/images/logo-light-sm.png" alt="" height="50">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect vertical-menu-btn">
        <i class="bx bx-menu align-middle"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Dashboard</li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="bx bx-home-alt icon nav-icon"></i>
                        <span class="menu-item" data-key="t-dashboard">Dashboard</span>
                        @* <span class="badge rounded-pill bg-primary">2</span> *@
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="#" data-key="t-ecommerce">Admin</a></li>
                        <li><a href="#" data-key="t-sales">Agent</a></li>
                    </ul>
                </li>

                <li class="menu-title" data-key="t-applications">Veille stratégique</li>

                <li>
                    <a asp-action="Index" asp-controller="VeilleContextuelle">
                        <i class="bx bx-search icon nav-icon"></i>
                        <span class="menu-item" data-key="t-calendar">Veille contextuelle</span>
                    </a>
                </li>


                <li class="menu-title" data-key="t-applications">Bénéficiaires</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-user icon nav-icon"></i>
                        <span class="menu-item" data-key="t-email">Bénéficiaire</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-action="Index" asp-controller="Benificier" data-key="t-inbox">List des bénéficiaire</a></li>
                        <li><a asp-action="Add" asp-controller="Benificier" data-key="t-read-email">Ajouter un bénéficiaire</a></li>
                    </ul>
                </li>

                <li class="menu-title" data-key="t-applications">Utilisateurs</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="bx bx-user-check icon nav-icon"></i>
                        <span class="menu-item" data-key="t-email">Utilisateur</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a asp-action="Index" asp-controller="Utilisateur" data-key="t-inbox">List des utilisateurs</a></li>
                        <li><a asp-action="Add" asp-controller="Utilisateur" data-key="t-read-email">Ajouter un utilisateurs</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>