@model Admin.ViewModel.DossierPersonnel.DossierPersonnelViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h2 class="h2 text-primary"><i class='bx bx-folder'></i> Dossier personnel</h2>
                <p class="card-title-desc"><i class='bx bx-info-circle'></i> Ce formulaire multi-étapes est destiné à la construction du dossier personnel. Veuillez remplir les informations ci-dessous.</p>
            </div><!-- end card header -->
            <div class="card-body">
                <form asp-action="AddDossier" method="post" asp-controller="Dossier">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewBag.Errors != null)
                    {
                        <ul class="text-danger">
                            @foreach (var error in ViewBag.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    }
                    <div class="form-group">
                        <input asp-for="BenificierId" class="form-control" value="@ViewData["Id"]" type="hidden" />
                    </div>
                    <ul class="wizard-nav mb-5">
                        <li class="wizard-list-item">
                            <div class="list-item">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Situation familial">
                                    <i class='bx bx-group'></i>
                                </div>
                            </div>
                        </li>
                        <li class="wizard-list-item">
                            <div class="list-item">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Situation Administrative">
                                    <i class='bx bx-briefcase'></i>
                                </div>
                            </div>
                        </li>
                        <li class="wizard-list-item">
                            <div class="list-item">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Parcours Migratoire">
                                    <i class='bx bx-transfer'></i>
                                </div>
                            </div>
                        </li>
                        <li class="wizard-list-item">
                            <div class="list-item">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Situation socio-Economique">
                                    <i class='bx bx-line-chart'></i>
                                </div>
                            </div>
                        </li>
                        <li class="wizard-list-item">
                            <div class="list-item">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Situation Psychologique">
                                    <i class='bx bx-smile'></i>
                                </div>
                            </div>
                        </li>
                        <li class="wizard-list-item">
                            <div class="list-item">
                                <div class="step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Situation Violence">
                                    <i class='bx bx-error'></i>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <!-- wizard-nav -->

                    <div class="wizard-tab">
                        <div class="text-center mb-4">
                            <h3 class="text-primary">Détails de la Situation Familiale</h3>
                            <p class="card-title-desc">Veuillez remplir les informations ci-dessous</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="mb-3">
                                    <label asp-for="LieuxDintervention" class="form-label">
                                        <i class="bx bx-map-pin text-primary"></i> Lieux d'intervention
                                    </label>
                                    <input asp-for="LieuxDintervention" class="form-control" type="text" />
                                    <span asp-validation-for="LieuxDintervention" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Familiale.Mineur" class="form-label">
                                        <i class="bx bx-child text-primary"></i> Mineur
                                    </label>
                                    <input asp-for="Familiale.Mineur" class="form-check-input" id="mineurSwitch" type="checkbox" value="true" />
                                    <input name="Familiale.Mineur" type="hidden" value="false" />
                                    <span asp-validation-for="Familiale.Mineur" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Familiale.Accompagne" class="form-label">
                                        <i class="bx bx-group text-primary"></i> Accompagné
                                    </label>
                                    <input asp-for="Familiale.Accompagne" class="form-check-input" id="accompagneSwitch" type="checkbox" value="true" />
                                    <input name="Familiale.Accompagne" type="hidden" value="false" />
                                    <span asp-validation-for="Familiale.Accompagne" class="text-danger"></span>
                                </div>
                            </div><!-- end row -->

                            <div class="row">
                                <div class="mb-3" id="nameFieldContainer" style="display:none;">
                                    <label asp-for="Familiale.Name" class="form-label">
                                        <i class="bx bx-id-card text-primary"></i> Nom
                                    </label>
                                    <input asp-for="Familiale.Name" class="form-control" />
                                    <span asp-validation-for="Familiale.Name" class="text-danger"></span>
                                </div>
                                <div class="mb-3" id="linkFieldContainer" style="display:none;">
                                    <label asp-for="Familiale.Link" class="form-label">
                                        <i class="bx bx-link text-primary"></i> Lien
                                    </label>
                                    <input asp-for="Familiale.Link" class="form-control" />
                                    <span asp-validation-for="Familiale.Link" class="text-danger"></span>
                                </div>
                                <div class="mb-3" id="contactFieldContainer" style="display:none;">
                                    <label asp-for="Familiale.Contact" class="form-label">
                                        <i class="bx bx-phone text-primary"></i> Contact
                                    </label>
                                    <input asp-for="Familiale.Contact" class="form-control" />
                                    <span asp-validation-for="Familiale.Contact" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Familiale.SituationMatrimoniale" class="form-label">
                                        <i class="bx bx-heart text-primary"></i> Situation Matrimoniale
                                    </label>
                                    <select asp-for="Familiale.SituationMatrimoniale" class="form-control">
                                        <option value="célibataire">Célibataire</option>
                                        <option value="Encouple">En couple / mariée</option>
                                        <option value="Divorce">Divorcé</option>
                                        <option value="veuf">Veuf</option>
                                    </select>
                                    <span asp-validation-for="Familiale.SituationMatrimoniale" class="text-danger"></span>
                                </div>
                            </div><!-- end row -->
                            <div class="row">
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Familiale.EnfantAcharge" class="form-label">
                                        <i class="bx bx-child text-primary"></i> Enfant à charge
                                    </label>
                                    <input asp-for="Familiale.EnfantAcharge" class="form-check-input" type="checkbox" id="customSwitchsizelg" value="true" />
                                    <input name="Familiale.EnfantAcharge" type="hidden" value="false" />
                                    <span asp-validation-for="Familiale.EnfantAcharge" class="text-danger"></span>
                                </div>
                                <div class="mb-3" id="nombreFieldContainer" style="display:none;">
                                    <label asp-for="Familiale.Nombre" class="form-label">
                                        <i class="bx bx-hash text-primary"></i> Nombre
                                    </label>
                                    <input asp-for="Familiale.Nombre" class="form-control" />
                                    <span asp-validation-for="Familiale.Nombre" class="text-danger"></span>
                                </div>
                                <div class="mb-3" id="ageFieldContainer" style="display:none;">
                                    <label asp-for="Familiale.Age" class="form-label">
                                        <i class="bx bx-calendar text-primary"></i> Age
                                    </label>
                                    <input asp-for="Familiale.Age" class="form-control" />
                                    <span asp-validation-for="Familiale.Age" class="text-danger"></span>
                                </div>
                            </div><!-- end row -->
                        </div>
                    </div>
                    <!-- wizard-tab -->

                    <div class="wizard-tab">
                        <div class="text-center mb-4">
                            <h3 class="text-primary">Détails de la situation administrative</h3>
                            <p class="card-title-desc">Veuillez remplir les informations ci-dessous</p>
                        </div>
                        <div>
                            <div class="row">
                                <h5 class="font-size-14 mb-4">Pièce d'identité</h5>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.CarteMarocaine" class="form-label">
                                        <i class="bx bx-id-card text-primary"></i> Carte Marocaine
                                    </label>
                                    <input asp-for="Administrative.CarteMarocaine" class="form-check-input" type="checkbox" id="carteMarocaineSwitch" value="true" />
                                    <input name="CarteMarocaine" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.CarteMarocaine" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Administrative.Autre" class="form-label">
                                        <i class="bx bx-file text-primary"></i> Autre
                                    </label>
                                    <input asp-for="Administrative.Autre" class="form-control" type="text" />
                                    <span asp-validation-for="Administrative.Autre" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.ValidationPassport" class="form-label">
                                        <i class="bx bx-passport text-primary"></i> Validation Passport
                                    </label>
                                    <input asp-for="Administrative.ValidationPassport" class="form-check-input" type="checkbox" id="validationPassportSwitch" value="true" />
                                    <input name="ValidationPassport" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.ValidationPassport" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.CarteConsulaire" class="form-label">
                                        <i class="bx bx-id-card text-primary"></i> Carte Consulaire
                                    </label>
                                    <input asp-for="Administrative.CarteConsulaire" class="form-check-input" type="checkbox" id="carteConsulaireSwitch" value="true" />
                                    <input name="CarteConsulaire" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.CarteConsulaire" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.ActeDeNaissance" class="form-label">
                                        <i class="bx bx-certificate text-primary"></i> Acte de Naissance
                                    </label>
                                    <input asp-for="Administrative.ActeDeNaissance" class="form-check-input" type="checkbox" id="acteDeNaissanceSwitch" value="true" />
                                    <input name="ActeDeNaissance" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.ActeDeNaissance" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.AucunPiece" class="form-label">
                                        <i class="bx bx-x text-primary"></i> Aucun Pièce
                                    </label>
                                    <input asp-for="Administrative.AucunPiece" class="form-check-input" type="checkbox" id="aucunP" value="true" />
                                    <input name="ActeDeNaissance" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.AucunPiece" class="text-danger"></span>
                                </div>
                                <h5 class="font-size-14 mb-4">Titre de séjour</h5>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.CarteSejourValid" class="form-label">
                                        <i class="bx bx-card text-primary"></i> Carte Séjour Valide
                                    </label>
                                    <input asp-for="Administrative.CarteSejourValid" class="form-check-input" type="checkbox" id="carteSejourValidSwitch" value="true" />
                                    <input name="CarteSejourValid" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.CarteSejourValid" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.StatusDeRefugie" class="form-label">
                                        <i class="bx bx-home-circle text-primary"></i> Status de Réfugié
                                    </label>
                                    <input asp-for="Administrative.StatusDeRefugie" class="form-check-input" type="checkbox" id="statusDeRefugieSwitch" value="true" />
                                    <input name="StatusDeRefugie" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.StatusDeRefugie" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.RecepisseDedemande" class="form-label">
                                        <i class="bx bx-receipt text-primary"></i> Recepis de demande
                                    </label>
                                    <input asp-for="Administrative.RecepisseDedemande" class="form-check-input" type="checkbox" id="recepisseDedemandeSwitch" value="true" />
                                    <input name="RecepisseDedemande" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.RecepisseDedemande" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.Visa" class="form-label">
                                        <i class="bx bx-visa text-primary"></i> Visa
                                    </label>
                                    <input asp-for="Administrative.Visa" class="form-check-input" type="checkbox" id="visaSwitch" value="true" />
                                    <input name="Visa" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.Visa" class="text-danger"></span>
                                </div>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Administrative.AucunTite" class="form-label">
                                        <i class="bx bx-x text-primary"></i> Aucun Titre
                                    </label>
                                    <input asp-for="Administrative.AucunTite" class="form-check-input" type="checkbox" id="aucunt" value="true" />
                                    <input name="Visa" type="hidden" value="false" />
                                    <span asp-validation-for="Administrative.AucunTite" class="text-danger"></span>
                                </div>
                            </div><!-- end row -->
                        </div>
                    </div>
                    <!-- wizard-tab -->

                    <div class="wizard-tab">
                        <div>
                            <div class="text-center mb-4">
                                <h3 class="text-primary">Détails de Parcours Migratoire</h3>
                                <p class="card-title-desc">Veuillez remplir les informations ci-dessous</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-namecard-input" class="form-label">
                                                <i class="bx bx-calendar text-primary"></i> Année d'Entrée
                                            </label>
                                            <input type="date" asp-for="ParcoursMigratoire.AnneeEntree" class="form-control" id="basicpill-namecard-input">
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                <i class="bx bx-calendar text-primary"></i> Motif de départ
                                            </label>
                                            <select class="form-select" asp-for="ParcoursMigratoire.MotifDepart">
                                                <option selected>Selectionner un motif</option>
                                                <option value="Etude">Etude</option>
                                                <option value="Regroupement familial">Regroupement familial</option>
                                                <option value="Guerre et conflits">Guerre et conflits</option>
                                                <option value="Discrimination et persécution">Discrimination et persécution</option>
                                                <option value="Conflits familiaux">Conflits familiaux</option>
                                                <option value="Raisons soico-éconique">Raisons soico-éconique</option>
                                            </select>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                <i class="bx bx-route text-primary"></i> Voie
                                            </label>
                                            <select class="form-select" asp-for="ParcoursMigratoire.Voie">
                                                <option selected>Selectionner le Voie</option>
                                                <option value="terrestre">Terrestre</option>
                                                <option value="maritime">Maritime</option>
                                                <option value="aérienne">Aérienne</option>
                                            </select>
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-card-verification-input" class="form-label">
                                                <i class="bx bx-map text-primary"></i> Nouvelle Arrivante (dans la ville)
                                            </label><br />
                                            <input type="radio" asp-for="ParcoursMigratoire.NouvelleArrivante" name="na" value="true">oui (-3mois)
                                            <input type="radio" asp-for="ParcoursMigratoire.NouvelleArrivante" name="na" value="false">Non (+3mois)
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label for="basicpill-card-verification-input" class="form-label">
                                            <i class="bx bx-map-pin text-primary"></i> Ville d'entrée
                                        </label>
                                        <input type="text" asp-for="ParcoursMigratoire.VilleEntree" class="form-control" id="basicpill-card-verification-input">
                                    </div>
                                </div><!-- end col -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-card-verification-input" class="form-label">
                                                <i class="bx bx-time text-primary"></i> Durée
                                            </label>
                                            <input type="text" asp-for="ParcoursMigratoire.Duree" class="form-control" id="basicpill-card-verification-input">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end form -->
                        </div>
                    </div>
                    <!-- wizard-tab -->

                    <div class="wizard-tab">
                        <div>
                            <div class="text-center mb-4">
                                <h3 class="text-primary">Détails de la situation socio Economique</h3>
                                <p class="card-title-desc">Veuillez remplir les informations ci-dessous</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div>
                                            <h5 class="font-size-14 mb-4">Niveau Education</h5>
                                            <select class="form-select mb-3" asp-for="SocioEconomique.NiveauEducation" id="niveauEducation">
                                                <option value="aucun">Aucun</option>
                                                <option value="primaire">Primaire</option>
                                                <option value="secondaire">Secondaire</option>
                                                <option value="superieur">Superieur</option>
                                                <option value="formation professionnelle">Formation professionnelle</option>
                                            </select>
                                            <div class="mb-3" id="fpFieldContainer" style="display:none;">
                                                <label asp-for="SocioEconomique.FormationPersonnel" class="form-label">
                                                    <i class="bx bx-book text-primary"></i> Formation Personnel
                                                </label>
                                                <input asp-for="SocioEconomique.FormationPersonnel" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-md-5">
                                        <div>
                                            <h5 class="font-size-14 mb-4">Source de revenus</h5>
                                            <select class="form-select mb-3" asp-for="SocioEconomique.Source" id="sourceRevenus">
                                                <option value="aucun">Aucun</option>
                                                <option value="Mendicite">Mendicite</option>
                                                <option value="Epargne">Epargne</option>
                                                <option value="travail informel">Travail informel</option>
                                                <option value="travail formel">Travail formel</option>
                                                <option value="transfert de fonds">Transfert de fonds</option>
                                            </select>
                                        </div>
                                    </div>
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">
                                                <i class="bx bx-home text-primary"></i> Habitation
                                            </label>
                                            <select class="form-select" asp-for="SocioEconomique.Habit">
                                                <option selected>Selectionner</option>
                                                <option value="Logement individuel ou familial">Logement individuel ou familial</option>
                                                <option value="logement partagé">Logement partagé</option>
                                                <option value="chambre partagée">Chambre partagée</option>
                                                <option value="Maison d'urgence">Maison d'urgence</option>
                                                <option value="Squats">Squats</option>
                                                <option value="compement">Situation de rue/compement</option>
                                            </select>
                                        </div>
                                    </div><!-- end col -->
                                </div>
                            </div><!-- end form -->
                        </div>
                    </div>
                    <!-- wizard-tab -->

                    <div class="wizard-tab">
                        <div class="text-center mb-4">
                            <h3 class="text-primary">Détails de la Situation Psychologique</h3>
                            <p class="card-title-desc">Veuillez remplir les informations ci-dessous</p>
                        </div>
                        <div>
                            <div class="row">
                                <h5 class="font-size-14 mb-4">Etat de santé</h5>
                                <div class="mb-3">
                                    <label asp-for="Psychologique.Enceinte" class="form-label">
                                        <i class="bx bx-calendar text-primary"></i> Date Enceinte
                                    </label>
                                    <input asp-for="Psychologique.Enceinte" class="form-control" type="date" />
                                    <span asp-validation-for="Psychologique.Enceinte" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Psychologique.MaladieChronique" class="form-label">
                                        <i class="bx bx-health text-primary"></i> Maladie Chronique
                                    </label>
                                    <input asp-for="Psychologique.MaladieChronique" class="form-control" type="text" />
                                    <span asp-validation-for="Psychologique.MaladieChronique" class="text-danger"></span>
                                </div>
                                <h5 class="font-size-14 mb-4">Santé mentale</h5>
                                <div class="form-check form-switch mb-3">
                                    <label asp-for="Psychologique.SituationDeDetresse" class="form-label">
                                        <i class="bx bx-tired text-primary"></i> Situation de Détresse
                                    </label>
                                    <input asp-for="Psychologique.SituationDeDetresse" class="form-check-input" type="checkbox" value="true" />
                                    <input name="SituationDeDetresse" type="hidden" value="false" />
                                    <span asp-validation-for="Psychologique.SituationDeDetresse" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Psychologique.MaladieMentale" class="form-label">
                                        <i class="bx bx-brain text-primary"></i> Maladie Mentale
                                    </label>
                                    <input asp-for="Psychologique.MaladieMentale" class="form-control" type="text" />
                                    <span asp-validation-for="Psychologique.MaladieMentale" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Psychologique.Autre" class="form-label">
                                        <i class="bx bx-dots-horizontal-rounded text-primary"></i> Autre
                                    </label>
                                    <input asp-for="Psychologique.Autre" class="form-control" type="text" />
                                    <span asp-validation-for="Psychologique.Autre" class="text-danger"></span>
                                </div>
                                <h5 class="font-size-14 mb-4">Situation de handicap</h5>
                                <div class="mb-3">
                                    <label asp-for="Psychologique.Handicap" class="form-label">
                                        <i class="bx bx-wheelchair text-primary"></i> Handicap
                                    </label>
                                    <select asp-for="Psychologique.Handicap" class="form-control">
                                        <option value="selectionner">Selectionner</option>
                                        <option value="Physique">Physique</option>
                                        <option value="Mental">Mental</option>
                                    </select>
                                    <span asp-validation-for="Psychologique.Handicap" class="text-danger"></span>
                                </div>
                            </div><!-- end row -->
                        </div>
                    </div>
                    <!-- wizard-tab -->

                    <div class="wizard-tab">
                        <div class="text-center mb-4">
                            <h3 class="text-primary">Détails de la Situation de Violence</h3>
                            <p class="card-title-desc">Veuillez remplir les informations ci-dessous</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="mb-3">
                                    <label asp-for="Violence.Victim" class="form-label">
                                        <i class="bx bx-user-x text-primary"></i> Victime de violence
                                    </label>
                                    <select asp-for="Violence.Victim" class="form-control">
                                        <option value="">Selectionner</option>
                                        <option value="Physique">Physique</option>
                                        <option value="Mental">Mental</option>
                                        <option value="Sexuelle">Sexuelle</option>
                                    </select>
                                    <span asp-validation-for="Violence.Victim" class="text-danger"></span>
                                </div>
                                <div>
                                    <h5 class="font-size-14 mb-4">Indicateur</h5>
                                    <select class="form-select mb-3" asp-for="Violence.Indicateur" id="indicateur">
                                        <option value="true">oui</option>
                                        <option value="false">non</option>
                                    </select>
                                </div>
                                <div class="">
                                    <label asp-for="Violence.VictimArretation" class="form-label">
                                        <i class="bx bx-shield-x text-primary"></i> Victime d'Arrestation
                                    </label>
                                    <select class="form-select mb-3" asp-for="Violence.VictimArretation" id="victimArretation">
                                        <option value="true">Oui</option>
                                        <option value="false">Non</option>
                                    </select>
                                    <span asp-validation-for="Violence.VictimArretation" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Violence.Victimrefoulement" class="form-label">
                                        <i class="bx bx-log-out text-primary"></i> Victime de Refoulement
                                    </label>
                                    <input asp-for="Violence.Victimrefoulement" class="form-control" type="text" />
                                    <span asp-validation-for="Violence.Victimrefoulement" class="text-danger"></span>
                                </div>
                            </div><!-- end row -->
                        </div>
                    </div>

                    <div class="d-flex align-items-start gap-3 mt-4">
                        <button type="button" class="btn btn-primary w-sm btn-previous">Previous</button>
                        <button type="button" class="btn btn-primary w-sm ms-auto btn-next">Next</button>
                        <button type="submit" class="btn btn-primary w-sm ms-auto btn-submit">Ajouter</button>
                    </div>

                </form>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
@section Scripts {
    <script src="~/assets/libs/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/assets/libs/sweetalert2/sweetalert2(v2).js"></script>
    <script>
        $(document).ready(function () {
            const totalSteps = $('.wizard-tab').length;
            let currentStep = 0;

            function updateButtons() {
                if (currentStep === totalSteps - 1) {
                    $('.btn-next').hide();
                    $('.btn-submit').show();
                } else {
                    $('.btn-next').show();
                    $('.btn-submit').hide();
                }
            }

            $('.btn-next').click(function () {
                if (currentStep < totalSteps - 1) {
                    $('.wizard-tab').eq(currentStep).hide();
                    currentStep++;
                    $('.wizard-tab').eq(currentStep).show();
                    updateButtons();
                }
            });

            $('.btn-previous').click(function () {
                if (currentStep > 0) {
                    $('.wizard-tab').eq(currentStep).hide();
                    currentStep--;
                    $('.wizard-tab').eq(currentStep).show();
                    updateButtons();
                }
            });

            // Initial setup
            $('.wizard-tab').hide();
            $('.wizard-tab').eq(0).show();
            $('.btn-submit').hide();
            updateButtons();

            $('form').submit(function (e) {
                e.preventDefault();
                Swal.fire({
                    title: 'En cours...',
                    text: 'Veuillez patienter!',
                    didOpen: () => {
                        Swal.showLoading();
                    },
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                });

                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (response) {
                        Swal.close();
                        if (response.success) {
                            Swal.fire({
                                title: 'Succès!',
                                text: response.message,
                                icon: 'success',
                                confirmButtonText: 'OK'
                            }).then(() => {
                                window.location.href = '@Url.Action("Index", "Benificier")';
                            });
                        } else {
                            let errorMessage = '<ul>';
                            response.errors.forEach(function (error) {
                                errorMessage += '<li>' + error + '</li>';
                            });
                            errorMessage += '</ul>';

                            Swal.fire({
                                title: 'Erreur!',
                                html: errorMessage,
                                icon: 'error',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function () {
                        Swal.close();
                        Swal.fire({
                            title: 'Erreur!',
                            text: 'Une erreur s\'est produite lors du traitement de votre demande.',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            });

            $('#accompagneSwitch').change(function () {
                if ($(this).is(':checked')) {
                    $('#nameFieldContainer, #linkFieldContainer, #contactFieldContainer').fadeIn(200).css("display", "block").hide().slideDown(200);
                } else {
                    $('#nameFieldContainer, #linkFieldContainer, #contactFieldContainer').slideUp(200).fadeOut(200, function () {
                        $(this).find('input').val(''); // Clear inputs
                    });
                }
            });

            $('#customSwitchsizelg').change(function () {
                if ($(this).is(':checked')) {
                    $('#nombreFieldContainer, #ageFieldContainer').fadeIn(200).css("display", "block").hide().slideDown(200);
                } else {
                    $('#nombreFieldContainer, #ageFieldContainer').slideUp(200).fadeOut(200, function () {
                        $(this).find('input').val(''); // Clear inputs
                    });
                }
            });

            $('#niveauEducation').change(function () {
                if ($(this).val() === 'formation professionnelle') {
                    $('#fpFieldContainer').fadeIn(200).css("display", "block").hide().slideDown(200);
                } else {
                    $('#fpFieldContainer').slideUp(200).fadeOut(200, function () {
                        $(this).find('input').val(''); // Clear inputs
                    });
                }
            });

            // Initial check in case the dropdown is already selected when the page loads
            if ($('#niveauEducation').val() === 'formation professionnelle') {
                $('#fpFieldContainer').fadeIn(200).css("display", "block").hide().slideDown(200);
            }
        });

    </script>
}